@model Dominio.Livro

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Livro</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NomeLivro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomeLivro)
            @Html.ValidationMessageFor(model => model.NomeLivro)
        </div>       

        <div class="editor-label">
            @Html.LabelFor(model => model.Editora)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Editora)
            @Html.ValidationMessageFor(model => model.Editora)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AnoPublicacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AnoPublicacao)
            @Html.ValidationMessageFor(model => model.AnoPublicacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Edicao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Edicao)
            @Html.ValidationMessageFor(model => model.Edicao)
        </div>

              

        <div class="editor-field">
            @Html.DropDownListFor(model => model.AutorId, (SelectList)ViewBag.Autores, "Selecione um autor")
        </div>

        <div class="editor-field">
            @Html.DropDownListFor(model => model.CategoriaId, (SelectList)ViewBag.Categorias, "Selecione uma categoria")
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
