@model IEnumerable<Dominio.Autor>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Autores cadastrados
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-autor">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.AutorId)</th>
                                <th>@Html.DisplayNameFor(model => model.NomeAutor)</th>
                                <th>@Html.DisplayNameFor(model => model.DataInsercao)</th>
                                <th>@Html.DisplayNameFor(model => model.DataAlteracao)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var autor in Model)
                            {
                                <tr>
                                    <td>@autor.AutorId</td>
                                    <td>@autor.NomeAutor</td>
                                    <td>@autor.DataInsercao</td>
                                    <td>@autor.DataAlteracao</td>
                                    <td>
                                        @Html.ActionLink(" Editar", "edit", "autor", new { autor.AutorId }, new { @class = "btn btn-warning fa fa-edit", id = "btn-edit" })
                                        @Html.ActionLink(" Detalhes", null, null, new { @class = "btn btn-success fa fa-search btn-detalhes-autor", data_id = autor.AutorId, id = "btn-detalhes-autor", href = "#" })
                                        @Html.ActionLink(" Excluir", null, null, new { @class = "btn btn-danger fa fa-trash-o btn-delete-autor", data_id = autor.AutorId, id = "btn-delete-autor", href = "#" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

@{
    Html.RenderPartial("~/Views/Shared/_ModalDetalhes.cshtml");
}